h1{
    font-family: Arial,serif;
}

*{
    margin: auto;
    padding: 0;
    border: 0 solid ;
}

.body{
    padding: 20px;
}

.card{
    border: 0 solid lightgrey;
    justify-content: space-evenly;
    background-color:darkgray;
    margin:5px 5px 5px 0;
    float: inherit;
    text-align: center;
    display: inline-block;
}
.redCard{
    border: 0 solid lightgrey;
    justify-content: space-evenly;
    background-color:darkgray;
    color: red;
    margin:5px 5px 5px 0;
    float: inherit;
    text-align: center;
    display: inline-block;
}